<html>

<% if Helpers.is_logged_in?(@sessionName) %>
  <p>
  Update an Expense
  </p>

  <form method="post" type="/expense/<%= @expense.id %>">
    <input type="date" value="<%= @expense.date %>"><br/>
    <input type="text" value="<%= @expense.description %>"><br/>
    <input type="number" value="<%= @expense.amount %>"><br/>
    <input type="text" value="<%= @expense.merchant %>"><br/>
    <input type="submit" value="Update"
  </form>

<% end %>
</html>
