  <p id="head-title">Update an Expense</p>

  <form method="post" action="/expense/<%= @expense.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="date" name="expense[date]" value="<%= @expense.date %>"><br/>
    <input type="text" name="expense[description]" value="<%= @expense.description %>"><br/>
    <input type="number" name="expense[amount]" value="<%= @expense.amount %>"><br/>
    <select name="expense[category_id]">
      <% @categories.each do |cat| %>
      <option value="<%= cat.id %>"><%= cat.category_name %></option>
      <% end %>
    </select>
    <input type="text" name="expense[merchant]" value="<%= @expense.merchant %>"><br/>
    <input type="submit" value="Update">
  </form>
