  <h1>All Expenses</h1>

  <% if !@expenses.nil? %>
    <table>
      <colgroup>
        <col span="5">
      </colgroup>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Merchant</th>
        <th>Description</th>
        <th>Category</th>
      </tr>
      <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.date %></td>
            <td><%= expense.amount %></td>
            <td><%= expense.merchant %></td>
            <td><%= expense.description %></td>
            <td><%= Category.find(expense.category_id).category_name %></td>
         </tr>
      <% end %>
    </table>
  <% end %>

  <p>
    <a href="/expense/add">Add a new expense</a> | <a href="/expense/select">Edit expenses</a>
  </p>
