<html>

<p>
All Expenses:
</p>

<% @expenses.each do |expense| %>
<p>
  <%= expense.date %> |
  <%= expense.amount %> |
  <%= expense.merchant %> |
  <%= expense.description %> |
  <%= Category.find(expense.category_id).category_name %>
</p>
<% end %>

<a href="/expense/add">Add a new expense</a>
</html>
