<html>

<% if Helpers.is_logged_in?(@sessionName) %>
  <p>
  Select an Expense
  </p>

  <% @expenses.each do |expense| %>
  <p>
    <form method="post" action="/expense/<%= expense.id %>/edit">
    <input type="radio" name="expense_id" value="<%= expense.id %>"> <%= expense.date %> |
      <%= expense.amount %> |
      <%= expense.merchant %> |
      <%= expense.description %> |
      <%= Category.find(expense.category_id).category_name %>
      <input type="submit" value="Edit">
    </form>
  </p>
  <% end %>
</form>
<% end %>
</html>
