<% if !@expense.nil? %>
  <h1>Expense Details</h1>
  <b>Amount</b>: $<%= '%.2f' % @expense.amount %><br/>
  <b>Date</b>: <%= @expense.date %><br/>
  <b>Description</b>: <%= @expense.description %><br/>
  <b>Category</b>: <%= Category.find(@expense.category_id).category_name %><br/>
  <b>Merchant</b>: <%= @expense.merchant %><br/>
  <p><a href="/expense">View all Expenses</a></p>
<% else %>
  <p>No Expenses Found.</p>
<% end %>
