<h1>Delete an Expense</h1>

<b>Amount</b>: $<%= '%.2f' % @expense.amount %><br/>
<b>Date</b>: <%= @expense.date %><br/>
<b>Description</b>: <%= @expense.description %><br/>
<b>Category</b>: <%= @categories.find {|cat| cat.id == @expense.category_id}.category_name %><br/>
<b>Merchant</b>: <%= @expense.merchant %><br/>

<form method="post" action="/expenses/<%=@expense.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Expense">
</form>
