  <h1>Update an Expense</h1>

  <form method="post" action="/expenses/<%= @expense.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <b>Date</b>: <input type="date" name="expense[date]" value="<%= @expense.date %>"><br/>
    <b>Amount</b>: $<input type="number" step="any" name="expense[amount]" value="<%= '%.2f' % @expense.amount %>"><br/>
    <b>Description</b>: <input type="text" name="expense[description]" value="<%= @expense.description %>"><br/>
    <b>Category</b>:
    <select name="expense[category_id]">
      <% @categories.each do |cat| %>
      <option value="<%= cat.id %>" <%= "selected" if @expense.category_id == cat.id %>><%= cat.category_name %></option>
      <% end %>
    </select>
    <br/>
    <b>Merchant</b>: <input type="text" name="expense[merchant]" value="<%= @expense.merchant %>"><br/>
    <input type="submit" value="Update">
  </form>
