  <h1>Expenses (<%= @num_days %>)</h1>

  <form method="get" action="/expenses">
    <select name="num_days">
      <option value="10">Last 10 Records</option>
      <option value="30">Last 30 Records</option>
      <option value="50">Last 50 Records</option>
      <option value="100">Last 100 Records</option>
    </select>
    <input type="submit" name="Submit">
  </form>

  <% if !@expenses.empty? %>
    <table>
      <colgroup>
        <col span="7">
      </colgroup>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Merchant</th>
        <th>Description</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    <% @expenses.each do |expense| %>
        <form method="get" action="/expenses/<%= expense.id %>/edit">
        <tr>
          <td><%= expense.date %></td>
          <td>$<%= '%.2f' % expense.amount %></td>
          <td><%= expense.merchant %></td>
          <td><%= expense.description %></td>
          <td><%= @categories.find {|cat| cat.id == expense.category_id}.category_name %></td>
          <td><input type="submit" name="Button" value="Edit"></td>
        </form>
        <form method="get" action="/expenses/<%= expense.id %>/delete">
          <td><input type="submit" name="Button" value="Delete"></td>
        </form>
        </tr>
    <% end %>
    </table>
<% end %>
  <p>
    <a href="/expenses/new">Add a new expense</a>
  </p>
