<p id="greeting">Hello, <%= Helpers.current_user(@sessionName).username %>!</p>
  <h2>Current Month Expenses</h2>
  <% if !@expenses_current_month.empty? %>
    <table width="50%"><tr><th>Date</th><th>Amount</th><th>Merchant</th><th>Description</th><th>Category</th></tr>
      <% @expenses_current_month.each do |expense| %>
        <tr>
          <td><%= expense.date %></td>
          <td>$<%= expense.amount %></td>
          <td><%= expense.merchant %></td>
          <td><%= expense.description %></td>
          <td><%= Category.find(expense.category_id).category_name %></td>
        </tr>
      <% end %>
    </table>
    <p>Total Expenses: $<%= Expense.total_current_month(@sessionName) %></p>
  <% else %>
    <p>No Expenses entered for this month</p>
  <% end %>

  <h2>Budget Tracking</h2>

  <% categories = Category.categories_of_user(@sessionName) %>
  <% if !categories.empty? %>
    <table>
      <tr>
        <th>Category</th>
        <th>Total Expenses</th>
        <th>Budget Goal</th>
        <th>Last Month Surplus</th>
        <th>Amount remaining</th>
     </tr>
    <% categories.each do |cat| %>
      <% budget_hash = Budget.surplus_for_category(@sessionName, cat.id) %>
      <tr>
        <td><%= cat.category_name %></td>
        <td><%= budget_hash[:total_curr_month] %></td>
        <td><%= budget_hash[:budget] %></td>
        <td><%= budget_hash[:leftover] %></td>
        <% if budget_hash[:current_leftover] < 0 %>
          <td><span style="color:red"><%= budget_hash[:current_leftover] %></span></td>
        <% else %>
          <td><%= budget_hash[:current_leftover] %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
  <% end %>
