  Hello, <%= Helpers.current_user(@sessionName).username %>!
  <% if !@expenses.empty? %>
    <p>
      <table width="50%"><tr><td>Date</td><td>Amount</td><td>Merchant</td><td>Description</td><td>Category</td></tr>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.date %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.merchant %></td>
        <td><%= expense.description %></td>
        <td><%= Category.find(expense.category_id).category_name %></td>
      </tr>
    <% end %>
  </table>
  </p>
    <p>Total Expenses: <%= Expense.total_expenses_for_user(@expenses) %></p>
    <% categories = Category.categories_of_user(@sessionName) %>
    <table>
    <% categories.each do |cat| %>
      <% total = 0 %>
      <tr><td><%= cat.category_name %></td>
      <% expenses_by_category = Expense.expenses_by_user_category(@sessionName, cat.id) %>
      <% expenses_by_category.each do |e| %>
        <% total += e.amount %>
      <% end %>
      <td><%= total %></td>
      <% budget = Budget.find_by(:category_id => cat.id).amount %>
      <td><%= budget %></td>
      <td><%= budget-total %></td>
    </tr>
    <% end %>
    </table>

    <p>Budget Goals</p>
  <% end %>
