  Hello, <%= Helpers.current_user(@sessionName).username %>!
  <% if !@expenses_current_month.empty? %>
    <p>
      <table width="50%"><tr><th>Date</th><th>Amount</th><th>Merchant</th><th>Description</th><th>Category</th></tr>
    <% @expenses_current_month.each do |expense| %>
      <tr>
        <td><%= expense.date %></td>
        <td>$<%= expense.amount %></td>
        <td><%= expense.merchant %></td>
        <td><%= expense.description %></td>
        <td><%= Category.find(expense.category_id).category_name %></td>
      </tr>
    <% end %>
  </table>
  </p>
  <p>Total Expenses: $<%= Expense.total_current_month(@sessionName) %></p>

  <% categories = Category.categories_of_user(@sessionName) %>
    <table><tr><td>Category</td><td>Total Expenses</td><td>Budget Goal</td><td>Amount remaining</td></tr>
    <% categories.each do |cat| %>
      <% total = 0 %>
      <tr><td><%= cat.category_name %></td>
      <% expenses_by_category = Expense.expenses_by_user_category(@sessionName, cat.id) %>
      <% expenses_by_category.each do |e| %>
        <% total += e.amount %>
      <% end %>
      <td><%= total %></td>
      <% budget = Budget.find_by(:category_id => cat.id) %>
      <% if !budget.nil? %>
        <td><%= budget.amount %></td>
        <td><%= budget.amount - total %></td>
      <% else %>
        <td> 0 </td>
        <td> 0 </td>
      <% end %>
    </tr>
    <% end %>
    </table>

  <% end %>
