<% if Helpers.is_logged_in?(@sessionName) %>

  <p>Welcome <%= Helpers.current_user(@sessionName).username %></p>

  <% if @expenses != nil %>
    <% @expenses.each do |expense| %>
    <p>
        <%= expense.date %> |
        <%= expense.amount %> |
        <%= expense.merchant %> |
        <%= expense.description %> |
        <%= Category.find(expense.category_id).category_name %>
    </p>
    <% end %>
    <%= Expense.total_expenses_for_user(@expenses) %>
  <% end %>

  <p>
  <a href="expense">Enter an expense</a> |
  <a href="categories">Manage Categories</a> |
  <a href="budgets">Budgets</a><br/>
  </p>

  <p><a href="/logout">Log Out</a></p>
<% end %>
